/* Makes the app transparent so the background picture can be displayed */
#voice-connection,
#friends,
.friends-header,
.friendsTable-133bsv,
.scroller-wrapper,
.guild-header header,
.headerBar-UHpsPw,
.channels-wrap,
.private-channels .search-bar,
.private-channels,
.guild-channels,
.account,
.friend-table-add-header,
.content,
.title-wrap:not(.search-bar),
.messages-wrapper,
.messages .divider span,
.messages .divider:before,
.content, .message-group-blocked,
.is-local-bot-message,
.channel-members-loading,
.channel-members-loading .heading,
.channel-members-loading .member,
.typing,
.container-RYiLUQ,
.theme-dark .standardSidebarView-3F1I7i,
.theme-dark .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN,
.theme-dark .standardSidebarView-3F1I7i .contentRegion-3nDuYy,
.contentRegionScroller-26nc1e,
.theme-dark .channel-members,
.container-2OU7Cz,
.theme-dark .chat form,
.channels-3g2vYe,
.theme-dark .friends-table,
.theme-dark .messages-wrapper,
.content .flex-spacer,
.theme-dark .chat > .content,
.theme-dark .chat,
.channel-members,
.search .search-bar,
.container-iksrDt,
.container-3lnMWU,
.theme-dark .title-qAcLxz,
.theme-dark .typing-3eiiL_,
.theme-dark .activityFeed-HeiGwL,
.theme-dark .headerBar-cxbhPD,
.theme-dark .lfg-3xoFkI,
.video-3lOWa6,
.theme-dark .private-channel-call,
.appMount-3VJmYg,
.container-2lgZY8,
.channels-Ie2l6A,
.container-PNkimc,
.container-2Thooq,
.theme-dark .title-3qD0b-,
.theme-dark .typing-2GQL18,
.search-bar.search-bar-light,
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA .selected-39BZ4S,
.theme-dark .members-1998pB,
.noChannel-Z1DQK7,
.activityFeed-28jde9,
.dockItem-2kQDqg:hover,
.applicationStore-1pNvnv,
.gameLibrary-TTDw4Y,
.theme-dark .root-1BQpZw, .theme-dark .container-3gCOGc {
    background: transparent !important;
}

/* Changes how dark the background should be so that the text can be easier to read*/
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3, .theme-dark .messagesWrapper-3lZDfY {
    background: rgba(0,0,0,0.0);
}

.theme-dark .guildsWrapper-5TJh6A {
    background: rgba(0,0,0,0.0) !important;
}

/* Changes how dark the background should be so that the text can be easier to read */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .typeWindows-15E0Ys {
    background: rgba(0, 0, 0, 0.12) !important;
}

/* Gets an image to be displayed as background */
.appMount-3lHmkl {
    background: url("https://cdn.discordapp.com/attachments/534940355091496970/534945011268190240/539563.jpg") center/cover no-repeat;
    font-family: Helvetica, sans, gothic, rockwell, times new roman;
}

.toolsContainer-1edPuj {position: absolute; margin-right: 0px; left: 92%; display: inline-flex;}
.buttonWrapper-1ZmCpA[tabindex="3"] {display:none}

.contentColumnDefault-1VQkGM {padding: 60px 40px 80px; position: relative; border-radius: 5px; background-color: rgba(0,0,0,.4); min-height: 0%; margin-top: 60px; margin-bottom: 60px; min-width: 80%; margin-left: auto;margin-right: auto; border: #e65c00 double 4px;}
.sidebarScrollable-1qPI87+.content-1rPSz4 {
    margin-left: 232px;
    max-width: 468px;
    padding: 60px 40px 60px !important;
    position: relative;
    border-radius: 5px;
    background-color: rgba(0,0,0,.4);
    min-height: 0%;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: 50%;
    margin: 0;
    border: red solid 4px;
}

.customScroller-26gWhv {
    margin-left: 40px;
    margin-right: 97px;
    max-width: 660px;
    min-width: 404px;
    padding: 60px 40px 60px;
    position: relative;
    border-radius: 5px;
    background-color: rgba(0,0,0,.4) !important;
    min-height: 0%;
    margin-top: 60px;
    margin-bottom: 60px;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
    outline: solid;
}

.customScroller-26gWhv>div {
    margin-left: 0%;
    margin-right: 100%;
    max-width: 0%;
    min-width: 100%;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {background-color: lightsteelblue; border-color: black; border-style: dashed;}
    
.scroller-2FKFPG::-webkit-scrollbar {width: 12px;}

@media (max-width:1300px){.friendsTable-133bsv .friendsColumnGuilds-2we6jb{display:inline-flex !important}}
#app-mount .friendsTable-133bsv .friendsRow-2yicud  {
    margin: 10px;height: 142px !important;flex-direction: column ;flex-basis: 300px ; padding: 0;
    white-space: nowrap;width: 324px;display: inline-block;justify-content: center;align-items: center;position:relative; border: limegreen groove 3px; background: rgba(0,0,0,.6);}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d {opacity: 0; height: 2px;}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm .avatarSmall--gkJKA {top: 11px;
    left: 5px;
    width: 85px;
    height: 85px;
    background-size: 85px 85px;}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm .discord-tag {
    position: absolute;
    top: 20px;
    left: 105px;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 {left: 10px; bottom: 3px; width: 94%;}

#app-mount .friendsTable-133bsv .friendsTableBody-1ZhKif .friendsRow-2yicud .friendsColumnGuilds-2we6jb {
    top: 80px;
    left: 105px;
    width: 150px;
   
}

#app-mount .friendsTable-133bsv .friendsRow-2yicud .friendsColumn-eVHFqJ+.friendsColumn-eVHFqJ {
    margin: 0;
    padding: 0;
}

#app-mount .friendsTable-133bsv .friendsRow-2yicud .friendsColumn-eVHFqJ {
    position: absolute;
}

.friends-table .friends-row .friendsColumn-eVHFqJ+.friendsColumn-eVHFqJ {
    margin-left: 41px;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M {
    top: 45px;
    left: 105px;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    width: 24px;
    height: 24px;
}


.role-2irmRk {border-radius: 5%;}
.roleCircle-3xAZ1j {border-radius: 10%;}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6, .theme-dark .body-3ND3kc {background: black;}
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {display: block; border-radius: 1px;height: 14px;margin-top: -6px;background-color: #44f5b1;}
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {display: none;}
.guild-1EfMGQ.selected-ML3OIq:before {display: block;}
.unread-1Dp-OI {display: none;}
.guild-1EfMGQ.da-guild.selected-ML3OIq.da-selected {outline: 2.8px dashed yellow !important;}
.theme-dark .status-2s6iDp, .statusProfile-3ynqtt, .avatar-small .status {border-radius: 0px; border: none;}
.theme-dark .topSectionNormal-2-vo2m, .headerTop-3C2Zn0 {
    background-image: url(https://cdn.discordapp.com/attachments/534940355091496970/534962234414333952/2ri943mckvc01.png);
}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {border-radius: 0 !important;}

.role-2irmRk {border-radius: 5%;}
.roleCircle-3xAZ1j {border-radius: 10%;}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6, .theme-dark .body-3ND3kc {background: black;}
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {display: block; border-radius: 1px;height: 14px;margin-top: -6px;background-color: #44f5b1;}
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {display: none;}
.guild-1EfMGQ.selected-ML3OIq:before {display: block;}
.unread-1Dp-OI {display: none;}
.guild-1EfMGQ.da-guild.selected-ML3OIq.da-selected {outline: 2.8px dashed yellow !important;}
.theme-dark .status-2s6iDp, .statusProfile-3ynqtt, .avatar-small .status {border-radius: 0px; border: none;}
.theme-dark .topSectionNormal-2-vo2m, .headerTop-3C2Zn0 {
    background-image: url(https://cdn.discordapp.com/attachments/534940355091496970/534962234414333952/2ri943mckvc01.png);
}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {border-radius: 0 !important;}
.avatarSmall-3ACRaI .status-2zcSVk {
    border-radius: 0px;
    bottom: -3px;
    height: 100%;
    right: 108%;
    width: 4px;
}
