/* Makes the app transparent so the background picture can be displayed */
#voice-connection,
#friends,
.friends-header,
.friendsTable-133bsv,
.scroller-wrapper,
.guild-header header,
.headerBar-UHpsPw,
.channels-wrap,
.private-channels .search-bar,
.private-channels,
.guild-channels,
.account,
.friend-table-add-header,
.content,
.title-wrap:not(.search-bar),
.messages-wrapper,
.messages .divider span,
.messages .divider:before,
.content, .message-group-blocked,
.is-local-bot-message,
.channel-members-loading,
.channel-members-loading .heading,
.channel-members-loading .member,
.typing,
.container-RYiLUQ,
.theme-dark .standardSidebarView-3F1I7i,
.theme-dark .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN,
.theme-dark .standardSidebarView-3F1I7i .contentRegion-3nDuYy,
.contentRegionScroller-26nc1e,
.theme-dark .channel-members,
.container-2OU7Cz,
.theme-dark .chat form,
.channels-3g2vYe,
.theme-dark .friends-table,
.theme-dark .messages-wrapper,
.content .flex-spacer,
.theme-dark .chat > .content,
.theme-dark .chat,
.channel-members,
.search .search-bar,
.container-iksrDt,
.container-3lnMWU,
.theme-dark .title-qAcLxz,
.theme-dark .typing-3eiiL_,
.theme-dark .activityFeed-HeiGwL,
.theme-dark .headerBar-cxbhPD,
.theme-dark .lfg-3xoFkI,
.video-3lOWa6,
.theme-dark .private-channel-call,
.appMount-3VJmYg,
.container-2lgZY8,
.channels-Ie2l6A,
.container-PNkimc,
.container-2Thooq,
.theme-dark .title-3qD0b-,
.theme-dark .typing-2GQL18,
.search-bar.search-bar-light,
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA .selected-39BZ4S,
.theme-dark .members-1998pB,
.noChannel-Z1DQK7,
.activityFeed-28jde9,
.dockItem-2kQDqg:hover,
.applicationStore-1pNvnv,
.gameLibrary-TTDw4Y, .gameUpdates-2GPqBU,
.theme-dark .root-1BQpZw, .theme-dark .container-3gCOGc {
    background: transparent !important;
}

/* Changes how dark the background should be so that the text can be easier to read*/
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3, .theme-dark .messagesWrapper-3lZDfY {
    background: rgba(0,0,0,0.0);
}

.theme-dark .guildsWrapper-5TJh6A {
    background: rgba(0,0,0,0.0) !important;
}

/* Changes how dark the background should be so that the text can be easier to read */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .typeWindows-15E0Ys {
    background: rgba(0, 0, 0, 0.12) !important;
}

/* Gets an image to be displayed as background */
.appMount-3lHmkl {
    background: url("https://cdn.discordapp.com/attachments/534940355091496970/534945011268190240/539563.jpg") center/cover no-repeat;
    font-family: Helvetica, sans, gothic, rockwell, times new roman;
}

.da-wordmark:after {content: "Kill La Kill - Version 0.0.1"; color: #fff; position: absolute; width: 400%; font-size: 15px; margin-left: 4px;}

.toolsContainer-1edPuj {position: absolute; margin-right: 0px; left: 92%; display: inline-flex;}
.buttonWrapper-1ZmCpA[tabindex="3"] {display:none}

.contentColumnDefault-1VQkGM {padding: 60px 40px 80px; position: relative; border-radius: 5px; background-color: rgba(0,0,0,.4); min-height: 0%; margin-top: 60px; margin-bottom: 60px; min-width: 80%; margin-left: auto;margin-right: auto; border: #e65c00 double 4px;}
.sidebarScrollable-1qPI87+.content-1rPSz4 {
    margin-left: 232px;
    max-width: 468px;
    padding: 60px 40px 60px !important;
    position: relative;
    border-radius: 5px;
    background-color: rgba(0,0,0,.4);
    min-height: 0%;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: 50%;
    margin: 0;
    border: #e65c00 double 4px;
}

.customScroller-26gWhv {
    margin-left: 40px;
    margin-right: 97px;
    max-width: 660px;
    min-width: 404px;
    padding: 60px 40px 60px;
    position: relative;
    border-radius: 5px;
    background-color: rgba(0,0,0,.4) !important;
    min-height: 0%;
    margin-top: 60px;
    margin-bottom: 60px;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: #e65c00 double 4px;
}

.customScroller-26gWhv>div {
    margin-left: 0%;
    margin-right: 100%;
    max-width: 0%;
    min-width: 100%;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {background-color: lightsteelblue; border-color: black; border-style: dashed;}
    
.scroller-2FKFPG::-webkit-scrollbar {width: 12px;}

@media (max-width:1300px){.friendsTable-133bsv .friendsColumnGuilds-2we6jb{display:inline-flex !important}}
#app-mount .friendsTable-133bsv .friendsRow-2yicud  {
    margin: 10px;height: 142px !important;flex-direction: column ;flex-basis: 300px ; padding: 0;
    white-space: nowrap;width: 324px;display: inline-block;justify-content: center;align-items: center;position:relative; border: limegreen groove 3px; background: rgba(0,0,0,.6);}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d {opacity: 0; height: 2px;}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm .avatarSmall--gkJKA {top: 11px;
    left: 5px;
    width: 85px;
    height: 85px;
    background-size: 85px 85px;}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm .discord-tag {
    position: absolute;
    top: 20px;
    left: 105px;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
}
.theme-dark .defaultColor-1_ajX0 {text-shadow: 2px 3px black;}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnStatus-ZH4ho2 {left: 10px; bottom: 3px; width: 94%;}
.theme-dark .status-2s6iDp {border-color: #2f3136; right: 110%; width: 4px; height: 120px;}
.iconBadge-2dji3k {display: none}
.mask-3OgeRz {-webkit-mask: none;}

#app-mount .friendsTable-133bsv .friendsTableBody-1ZhKif .friendsRow-2yicud .friendsColumnGuilds-2we6jb {
    top: 80px;
    left: 105px;
    width: 150px;
   
}

#app-mount .friendsTable-133bsv .friendsRow-2yicud .friendsColumn-eVHFqJ+.friendsColumn-eVHFqJ {
    margin: 0;
    padding: 0;
}

#app-mount .friendsTable-133bsv .friendsRow-2yicud .friendsColumn-eVHFqJ {
    position: absolute;
}

.friends-table .friends-row .friendsColumn-eVHFqJ+.friendsColumn-eVHFqJ {
    margin-left: 41px;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M {
    top: 45px;
    left: 105px;
}

.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    width: 24px;
    height: 24px;
}


.role-2irmRk {border-radius: 5%;}
.roleCircle-3xAZ1j {border-radius: 10%;}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6, .theme-dark .body-3ND3kc {background: black;}
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {display: block; border-radius: 1px;height: 14px;margin-top: -6px;background-color: #44f5b1;}
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {display: none;}
.guild-1EfMGQ.selected-ML3OIq:before {display: block;}
.unread-1Dp-OI {display: none;}
.guild-1EfMGQ.da-guild.selected-ML3OIq.da-selected {outline: 2.8px dashed yellow !important;}
.theme-dark .status-2s6iDp, .statusProfile-3ynqtt, .avatar-small .status {border-radius: 0px; border: none;}
.theme-dark .topSectionNormal-2-vo2m, .headerTop-3C2Zn0 {
    background-image: url(https://cdn.discordapp.com/attachments/534940355091496970/534962234414333952/2ri943mckvc01.png);
}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {border-radius: 0 !important;}

.role-2irmRk {border-radius: 5%;}
.roleCircle-3xAZ1j {border-radius: 10%;}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6, .theme-dark .body-3ND3kc {background: black;}
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {display: block; border-radius: 1px;height: 14px;margin-top: -6px;background-color: #44f5b1;}
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {display: none;}
.guild-1EfMGQ.selected-ML3OIq:before {display: block;}
.unread-1Dp-OI {display: none;}
.guild-1EfMGQ.da-guild.selected-ML3OIq.da-selected {outline: 2.8px dashed yellow !important;}
.theme-dark .status-2s6iDp, .statusProfile-3ynqtt, .avatar-small .status {border-radius: 0px; border: none;}
.theme-dark .topSectionNormal-2-vo2m, .headerTop-3C2Zn0 {
    background-image: url(https://cdn.discordapp.com/attachments/534940355091496970/534962234414333952/2ri943mckvc01.png);
}
.item-1GzJrl.item-1GzJrl {background: #381f25;}
.icon-2doZ3q {filter: brightness(1000%);}

.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    background: linear-gradient(to right, #ccccff 0%, #666699 100%);
    background-position: 50% 100%;
    border-left: blue solid 4px;
}

.contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active { 
    background: linear-gradient(to left, #ccccff 0%, #666699 100%);
    background-position: 50% 100%;
}


.theme-dark .iconForeground-3y9f0B, .theme-dark .button-3AYNKb {color: blue; opacity: .6;}
.iconInactive-g2AXfB {opacity: 1;}

.nameDefault-2DI02H {color: red; text-shadow: 2px 2px black;}
.theme-dark .membersGroup-v9BXpm {color: red; text-shadow: 2px 2px black;}
.privateChannels-1nO12o header {color: red; opacity: 1; text-shadow: 2px 2px black;}
.theme-dark .header-2RyJ0Y {color: red; text-shadow: 2px 2px black;}
.nameUnreadText-DfkrI4:after {content: "\03c"; margin-left: 8px; color: #44f5b1;}
.lookFilled-1Gx00P.colorGreen-29iAKY {background: orangered;}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {background: coral;}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {background: orangered;}
.lookInverted-2D7oAl.colorBrand-3pXr91 {background: orangered;}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {background: coral;}
.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {background: coral;}

.theme-dark.contextMenu-HLZMGh {background: #381f25; color: #fff;}
.resultsGroup-r_nuzN {background: #381f25;}
.theme-dark .option-96V44q:after {display: none;}

.theme-dark .modal-3HD5ck {background: slategrey;}
.theme-dark .footer-2yfCgX {background: lightslategrey;}
.theme-dark .quickswitcher-3JagVE {background: lightslategrey;}
.theme-dark .emptyStateNote-ZYTetQ, .theme-dark .emptyStateNote-ZYTetQ {color: #000;}
.theme-dark .description-3_Ncsb, .theme-dark .labelDescriptor-1PqHgD {color: lightblue;}
.theme-dark .closeButton-1tv5uR {border-color: darkred;}

.theme-dark .inner-zqa7da {box-shadow: 1px 1px steelblue;}
.search-l1Wz-Q {box-shadow: 1px 1px steelblue;}

.theme-dark .isMentioned-N-h9aa {background: rgba(218,112,161,.3);}

.theme-dark .searchResultsWrap-2DKFzt {background: linear-gradient(to top right, #8e0e00 0%, #1f1c18 100%)}
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {color: #ff !important;}
.messagesPopout-24nkyi {background: linear-gradient(to bottom left, #8e0e00 0%, #1f1c18 100%)}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA, .theme-dark .messageGroupWrapper-o-Zw7G {background: linear-gradient(to right, #cd5c5c 0%, #d55867 100%)}
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf {background: transparent;}
.theme-dark .searchResult-3pzFAB:before, .theme-dark .searchResult-3pzFAB:after {background: transparent;}
.theme-dark .searchResult-3pzFAB .hit-NLlWXA {box-shadow: 0 0 10px 6px darkred;}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {border: none;}
.theme-dark .searchHeader-1l-wpR, .recentMentionsPopout-2fmau1 .header-3LXPrb, .theme-dark .header-ykumBX {background: #4a2730;}

.theme-dark .topSectionNormal-2-vo2m, .headerTop-3C2Zn0 , .topSectionPlaying-1J5E4n, .topSectionSpotify-1lI0-P {
    background-image: url(https://cdn.discordapp.com/attachments/534940355091496970/534962234414333952/2ri943mckvc01.png);
}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ {color: #fff;}
.private-channels .channel .channel-name {color: #fff; opacity: 1;}

.rowBackground-3MeNoN .da-rowBackground {opacity: 0;}
.theme-dark .header-39GIC8 {opacity: 0; height: 2px;}

.theme-dark .rowWrapperActive-2L7i9f {background-color: rgba(0,0,0,.6);}
.rowBackground-3MeNoN {-webkit-mask: radial-gradient(100% 100% at top left,hsla(0,0%,100%,.3) 0,hsla(0,0%,100%,.4) 100%); width: 100%; filter: grayscale(80%);}

.gameLibrary-TTDw4Y .header-39GIC8 {display: none}
.textCell-1aBIUP{margin:10px 0 0 20px}
#app-mount .nameBodyCell-3JOlnK{margin:10px 0 0 10px}
#app-mount .bodyCell-9xKjWE{width:300px;padding:2px}
#app-mount .row-ZLfFhY{height:150px;width:350px;display:inline-table;margin:0;background:rgba(0,0,0,.6)}
#app-mount .rowWrapper-2fB6P0{height:150px;width:350px;display: inline-table;margin:5px 0 0 35px; border: limegreen groove 3px; border-radius: 0;}
#app-mount .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY{border:none;background:rgba(0,0,0,.6)}
.disabledButtonColor-34LjTT{background: rgba(24,25,28, 1);}

.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf {background: transparent;}
.theme-dark .embedInner-1-fpTo {border: none;}

.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {border-radius: 0 !important;}
.avatarSmall-3ACRaI .status-2zcSVk {
    border-radius: 0px;
    bottom: -3px;
    height: 100%;
    right: 108%;
    width: 4px;
}
.typing-1KJk_j {border-radius: 7px !important;}
.theme-dark .memberOnline-1CIh-0:hover {background: transparent;}
.dividerContent-2L12VI:after, .dividerContent-2L12VI:before {background: beige;}

.theme-dark .timestampCozy-2hLAPV, .theme-dark .timestamp-1mruiI {color: #e8e6a9;}

.member-3W1lQa:hover .content-OzHfo4,
.member-3W1lQa .popout-open .content-OzHfo4,
.member-3W1lQa .popout-open:hover .content-OzHfo4 {background-color: transparent !important; text-shadow: 2px 2px #000 !important;}

