//META{"name":"the multiverse","description":"An photo that an austromener took relaviling mulitplie universes in the stars","author":"SrS","version":"3"}*//{}

/*
    #############################################################################################################################
    
    
    ████████╗██╗  ██╗███████╗    ███╗   ███╗██╗   ██╗██╗     ████████╗██╗██╗   ██╗███████╗██████╗ ███████╗███████╗
    ╚══██╔══╝██║  ██║██╔════╝    ████╗ ████║██║   ██║██║     ╚══██╔══╝██║██║   ██║██╔════╝██╔══██╗██╔════╝██╔════╝
       ██║   ███████║█████╗      ██╔████╔██║██║   ██║██║        ██║   ██║██║   ██║█████╗  ██████╔╝███████╗█████╗  
       ██║   ██╔══██║██╔══╝      ██║╚██╔╝██║██║   ██║██║        ██║   ██║╚██╗ ██╔╝██╔══╝  ██╔══██╗╚════██║██╔══╝  
       ██║   ██║  ██║███████╗    ██║ ╚═╝ ██║╚██████╔╝███████╗   ██║   ██║ ╚████╔╝ ███████╗██║  ██║███████║███████╗
       ╚═╝   ╚═╝  ╚═╝╚══════╝    ╚═╝     ╚═╝ ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝
    
                                                                                                                                                                           
   ##############################################################################################################################
*/


/* !!!!!DO NOT DELETE THE FOLLOWING LINE OF CODE. THIS LOADS THE MAIN THEME. DELETING IT WILL CAUSE IT TO FAIL!!!!! */
@import url("https://raw.githack.com/SrS2225a/bd-themes/master/the multiverse.css");


:root {
    /* You can define your own background look by changing the variables to your own url. Make sure you do not delete the url(""); part; and it's a valid url too, otherwise it will not work */
/* background to display while loading */  --load-background: url("https://66.media.tumblr.com/tumblr_m396kzDv8h1rpx9bqo1_500.jpg");
/* the main background to display */  --main-background: url("https://wallpapercave.com/wp/wp2834841.jpg");
    
     /* You can define your own color by changing the variables to your own hex or rgb. When using a hex color, make sure you have the # in the front. Likewise if it is a rgb color, wrap () around, rgba should be in the front */
     /* Color Picker: https://www.w3schools.com/colors/colors_picker.asp <- You need to copy and paste, sorry! */
    --font-type: Helvetica, sans, gothic, rockwell, times new roman; /* the main font type to display. Some parts may not be affected. For a list of font types visit https://fonts.google.com/ some may not work */    
    --background-transpraency: rgba(0, 0, 0,0.12); /* How transparent your main background should be */ 
    --secondary-transpraency: rgba(0, 0, 0,0.4); /* How transparent other elements should be */
    --main-dropdown: #778899; /* the main dropdown color */   
    --main-dropdown-hover: #708090; /* the main dropdown color on hover */
    --slected-channel-color: #43398e; /* the main channel color upon select */
    --hovered-select-channel: #2e1ac9; /* the main channel color upon hover */
    --user-member-select: #0b512f; /* the main member color upon select */
    --user-member-hover: #d0a100;  /* the main member color upon hover */
    --settings-member-select: #8e3986; /* the main settings color upon select */
    --settings-member-hover: #1ac0c9; /* the main settings color upon hover */
    --main-embed-background: #000000; /* the main color to be displayed for embeds */
    --small-heading-main: #f00000; /* the main color to be displayed for small heading */
    --large-heading-main: #9370DB; /* the main color to be displayed for large heading */
    --border-libary-friends-main: #32CD32;
    --border-settings-main: #FFD700;
    --border-server-main: #FFD700;
    --main-timestamp: #00FFFF;
    --main-unread: #44f5b1;
    --mention-background-main: #f04747;
    --discordservers-main-button: #1e90ff;
    --discordservers-small-heading-main: #ff0;
    --popout-control-dialog-background: #381f25;
    --store-item-background: #ffffe0;
    --store-embed-main: #0F8C7A;
    --store-small-heading-main: #66ddaa;
    --arrow-color-main: #ff0;
    --main-decription-color: #b0c4de;
    --main-chat-color: #fff;
    --main-button-color: #1e90ff;
    --main-secondary-button-color: #FF8F1F;
    --main-updates-background: #0E2F44;
    --main-text-selection-list: #00008B;
     --main-text-selection-hover: #00468C;
    --main-secondary-updates-background: #bc8f8f; 
    --user-info-background-main: #0E2F44
}
