//META{"name":"the multiverse","description":"An photo that an austromener took relaviling mulitplie universes in the stars","author":"SrS27a","version":"Auto Updates"}*//{}

/*
    ######################################################################################################################################################################
       _            _       _    _              _   _        _                  _           _          _    _          _       _            _          _            _      
      /\ \         / /\    / /\ /\ \           /\_\/\_\ _   /\_\               _\ \        /\ \       /\ \ /\ \    _ / /\     /\ \         /\ \       / /\         /\ \    
      \_\ \       / / /   / / //  \ \         / / / / //\_\/ / /         _    /\__ \       \_\ \      \ \ \\ \ \  /_/ / /    /  \ \       /  \ \     / /  \       /  \ \   
      /\__ \     / /_/   / / // /\ \ \       /\ \/ \ \/ / /\ \ \__      /\_\ / /_ \_\      /\__ \     /\ \_\\ \ \ \___\/    / /\ \ \     / /\ \ \   / / /\ \__   / /\ \ \  
     / /_ \ \   / /\ \__/ / // / /\ \_\     /  \____\__/ /  \ \___\    / / // / /\/_/     / /_ \ \   / /\/_// / /  \ \ \   / / /\ \_\   / / /\ \_\ / / /\ \___\ / / /\ \_\ 
    / / /\ \ \ / /\ \___\/ // /_/_ \/_/    / /\/________/    \__  /   / / // / /         / / /\ \ \ / / /   \ \ \   \_\ \ / /_/_ \/_/  / / /_/ / / \ \ \ \/___// /_/_ \/_/ 
   / / /  \/_// / /\/___/ // /____/\      / / /\/_// / /     / / /   / / // / /         / / /  \/_// / /     \ \ \  / / // /____/\    / / /__\/ /   \ \ \     / /____/\    
  / / /      / / /   / / // /\____\/     / / /    / / /     / / /   / / // / / ____    / / /      / / /       \ \ \/ / // /\____\/   / / /_____/_    \ \ \   / /\____\/    
 / / /      / / /   / / // / /______    / / /    / / /     / / /___/ / // /_/_/ ___/\ / / /   ___/ / /__       \ \ \/ // / /______  / / /\ \ \ /_/\__/ / /  / / /______    
/_/ /      / / /   / / // / /_______\   \/_/    / / /     / / /____\/ //_______/\__\//_/ /   /\__\/_/___\       \ \  // / /_______\/ / /  \ \ \\ \/___/ /  / / /_______\   
\_\/       \/_/    \/_/ \/__________/           \/_/      \/_________/ \_______\/    \_\/    \/_________/        \_\/ \/__________/\/_/    \_\/ \_____\/   \/__________/   
                                                                                                                                                                           
   ######################################################################################################################################################################
*/

@import url(https://raw.githack.com/SrS2225a/bd-themes/master/the-new-planet.css);

/* You can edit the following rgba and hex color types to change some of the look of the theme */
:root {
    /* Note: MAKE SURtps://E YOU WRAP THE DOUBLE QOUTES AROUND THE URL TO YOUR IMAGE, OTHERWISE IT WILL NOT WORK!*/
    --main-background: "https://wallpapercave.com/wp/wp2834841.jpg";
    --background-transpraency: rgba(0, 0, 0,0.12);
    --slected-channel-color: #43398e;
    --hovered-select-channel: #2e1ac9;
    --user-member-select: #0b512f;
    --user-member-hover: #d0a100;
    --settings-member-select: #8e3986;
    --settings-member-hover: #1ac0c9;
    --main-channel-voice: #FFA500;
    --small-heading-main: #f00;
    --large-heading-main: #9370DB;
    --border-libary-friends-main: #32CD32;
    --border-settings-main: #1E90FF;
    --main-timestamp: #00FFFF;
    --main-unread: #44f5b1;
}
